
 #header {
  margin-top: 12vh;
	 font-size: 9em; 
	color: #2a2e43;
	margin-left: 40%;
  font-weight: 900;
  height: 100%;
  display: flex;
  flex-direction: column;
 }
 h1 {
   line-height: 1em !important;
  z-index: -10;
  font-weight: 700 !important;
 }

#profile {
  padding: 0%;
  margin-bottom: 0px !important;
 max-height: 80%;
  display: flex;
  flex-direction: column;

}
@media only screen and (min-width: 400px) and (max-width: 600px){
  #header {
    margin-left: 10%;
    justify-content: center;
    margin-bottom: 0px !important;
      font-size: 3.5em;
  }
  #profile {
    padding: 0%;
    width: 70%;
    margin-left: 25%;
    justify-content: right;
    height: 100%;
  display: flex !important;
  flex-direction: column !important;
  }
  #parallax 
  {
    max-height: 20vh;
  }
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  #header {
    margin-left: 15%;
      font-size: 0em;
  }
  #profile {
    padding: 0%;
    width: 80%;
    margin-left: 20%;
    align-content: center;
  }

}