body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  /* color: #616579; */
  letter-spacing: .14px;
  color: rgba(31,37,38,.75);
  font-weight: 300 !important;
  font-style: normal;
}
h1, h2, h3 {
  color: #2a2e43;
  padding-bottom: 1px;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5em;
}
.container_9tizg4 {
  background: rgba(140, 140, 140, 0.72) !important;
}

#tn {
  max-height: 300px;
  margin: 3px;
  align-content: top;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
#nav {
  position: fixed;
}
.MuiAppBar-colorPrimary-10 {
  background-color: #292d45 !important ;
}
#logo {
  max-height: 60px;
  padding: 4px;
  justify-content: center;
  margin-top: 5px;
}
#section1 {
  height: 90vh;
}
#section2 {
  height: auto;
  background-color: lightblue;
  width: 100%;
}
Row {
  padding: 10px;
}
#icons {
  padding: 5px;
  margin: 0 auto;
  align-items: center;
}
#header-icons {
  border-color: #292d45;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#prev {
  padding: 10px;
  max-width: 98%;
  justify-content: center;
}
.SingleLineGridList-root-92 {
  background-color: transparent;
}
.work-items{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .9em;
}
#galimg {
  width: 90%;
  height: auto;
  padding-top: 8px;
  margin: 5 auto;
  justify-content: center;
  align-content: center;
  display: block;
}
@media only screen and (min-width: 400px) and (max-width: 600px){
  #prev, #galimg {
    max-width: 40%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  #prev {
    max-width: 30%;
  }
  #galimg {
    min-height: 50%;
  }
  .viewitem {
    max-width: 70vw;
  }
}