.pull-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .h1 {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  li {
    text-decoration: none;
    list-style: none;
  }
  a, .MuiButton-textPrimary-533 {
    color: #76abc2 !important;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover{
    color: #7689aa;
  }
  a:visited{
    color: #76abc2;
  }
.footer {
    /* margin-top: var( — space); */
    display: flex;
    padding-bottom: 15px;
    color: #b6d5e5;
  }